:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primari-font-weight: 400;
  --secondary-font-weigh: 700;
  --primari-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196F3;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.filter-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  /* border: 0px; */
  color: var(--secondary-text-color);
  background: #F5F4FA;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: var(--transition-dur-and-func);
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: var(--transition-dur-and-func);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  border: 1px solid var(--accent-color);
}

.modal-close-btn-icon {
  fill: #000000;
  transition: var(--transition-dur-and-func);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--accent-color);
}

.modal-form-submit {
  min-width: 200px;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 16px;
  line-height: 1.88;
  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-window-text {
  margin-bottom: 11px;
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-family: var(--primary-font);
  font-weight: var(--primari-font-weight);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: var(--transition-dur-and-func);
  color: var(--primari-text-color);
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primari-text-color);
}
.modal-form-message::placeholder {
  font-family: var(--primary-font);
  font-weight: var(--primari-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
  font-family: var(--primary-font);
  font-weight: var(--primari-font-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  transition: var(--transition-dur-and-func);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../img/svgicon/second-sprite/Vector.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modal-form-check-desc {
  font-family: var(--primary-font);
  font-weight: var(--primari-font-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}

.modal-form-check-desc-link {
  font-family: var(--primary-font);
  font-weight: var(--primari-font-weight);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

.page-header {
  /* padding-top: 24px;
  padding-bottom: 24px; */
  border-bottom: 1px solid #ECECEC;
  /* outline: 2px solid #ECECEC */
}

.heder-cotainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #000000;
}

.second-color-logo {
  color: #2196F3;
}

.menu__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link-active::after {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  transform: scaleX(1);
}

.active-link:visited {
  color: var(--accent-color);
}

.contact-phone-number {
  color: #757575;
}

.contact-mail {
  color: #757575;
}

.menu-contact {
  display: flex;
  align-items: center;
}

.menu__link-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.menu__link-icon:hover, .menu__link-icon:focus {
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg-hero.jpg);
  background-color: #C4C4C4;
  background-size: cover;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center;  */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modal-btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-dur-and-func);
  color: #FFFFFF;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
}
.modal-btn:hover, .modal-btn:focus {
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #188CE8;
}

.advantages {
  /* outline: 2px solid tomato; */
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-advantages {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px;  */
}

.menu-advantages:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* .menu-advantages:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
} */
.menu-advantages {
  width: calc((100% - 90px) / 4);
  /* width: 270px; */
}

.icon-advantages-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background: #F5F4FA;
  border-radius: 4px;
}

.icon-advantages {
  margin-top: 25px;
  margin-right: 100px;
  margin-bottom: 25px;
  margin-left: 100px;
  background-position: center;
  /* display: flex;
  content:"" ;
  background-size: contain;
  width: 70px;
  height: 70px; */
}

.advantage-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}

.section__specialization {
  /* outline: 2px solid tomato; */
  padding-bottom: 94px;
}

.specialization-title {
  margin-bottom: 50px;
  font-weight: var(--secondary-font-weigh);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section__specialization .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.specialization__list-example {
  /* position: relative;
  display: block; */
  width: calc((100% - 60px) / 3);
}

.specialization__box {
  position: relative;
}

.specialization__name-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.employees {
  /* outline: 2px solid tomato; */
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.employees .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.employees-title {
  margin-bottom: 50px;
  font-weight: var(--secondary-font-weigh);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employees-list {
  width: calc((100% - 90px) / 4);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.box-employees {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees-name {
  /* margin-top: 30px; */
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.employees-specialization {
  margin-bottom: 16px;
  font-weight: var(--primari-font-weight);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}

.employees-list .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  /* background: #2196F3; */
  background-color: var(--accent-color);
}

.socail-list-icon {
  /* width: 20px;
  height: 20px; */
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .socail-list-icon, .social-list-link:focus .socail-list-icon {
  fill: #FFFFFF;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #FFFFFF;
}

.clients-title {
  margin-bottom: 50px;
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.clients .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-clients {
  display: flex;
  /* background-color: #E5E5E5; */
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--accent-color);
  /* border: 1px solid #2196F3; */
}

.footer {
  /* outline: 2px solid tomato; */
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  margin-right: 156px;
  font-family: var(--secondary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.second-color-logo {
  color: #2196F3;
}

.menu-link-footer {
  font-family: var(--primary-font);
  font-weight: var(--primari-font-weight);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.menu-link-footer:hover, .menu-link-footer:focus {
  color: var(--secondary-text-color);
}

.list-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.address-maps {
  color: #FFFFFF;
}

.contact-mail-footer {
  color: rgba(255, 255, 255, 0.6);
}

.contact-phone-number-footer {
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  /* margin-top: 13px;  */
  margin-bottom: 20px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: var(--secondary-font-weigh);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:hover, .social-list-link-footer:focus {
  background-color: var(--accent-color);
}

.socail-list-icon-footer {
  fill: #FFFFFF;
}

.footer-social {
  margin-right: 93px;
}

.text-subscribe {
  margin-bottom: 20px;
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form {
  display: flex;
}

.mail-subscription {
  display: flex;
  justify-content: center;
  width: 358px;
  /* height: 50px; */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
  color: #FFFFFF;
}
.mail-subscription::placeholder {
  font-family: var(--primary-font);
  font-weight: var(--primari-font-weight);
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mail-subscription:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.submit-button-footer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  border: none;
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit-button-footer-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-example-card {
  width: calc((100% - 60px) / 3);
  /* padding-bottom: 20px; */
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-example-card:hover, .portfolio-example-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-example-card-link {
  display: block;
}

.portfolio-example-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-family: var(--primary-font);
  font-weight: var(--primari-font-weight);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-example-card-link:hover .overlay, .portfolio-example-card-link:focus .overlay {
  transform: translate(0, 0);
}

.box-name-type {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project-name {
  /* margin-top: 20px; */
  /* margin-right: 24px; */
  margin-bottom: 4px;
  /* margin-left: 24px; */
  font-family: var(--primary-font);
  font-weight: var(--secondary-font-weigh);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-type {
  /* margin-right: 24px;
      margin-left: 24px; */
  font-family: var(--primary-font);
  font-weight: var(-primari-font-weight);
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: var(--primari-text-color);
}/*# sourceMappingURL=main.css.map */